ul.hybridauth-providerlist  {	
	list-style-type: none;
}

ul.hybridauth-providerlist li {
	float:left;
	text-decoration: none;
}

.hybridauth-providerlist li.active {
	background-color:green;
	margin:5px;
}